.header { text-align: center; padding: 10px; background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  

    
}

p { color: rgb(0, 0, 0); padding: 20px;font-family: Arial, Helvetica, sans-serif; margin: 0;
  padding: 0;}

.flex-container {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    
  }
  
  /* this selector selects all divs inside of .flex-container */
  .flex-container div {
    
    
    height: 20px;
    flex: 1 1 auto;
    float: left;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgray;
  }
 
/*body {background-image: url("Pictures/indexbg.jpg") ;}*/
body {background-image: url("pictures/party.jpg") ;
background-size: cover;
}


p {
    text-align: center;
}

h1 {
  font-family: Arial, Helvetica, sans-serif; color: black;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
}