/********************************  IMPORT FONTS ****************************/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

/********************************  IMPORT FONTS END ****************************/

/********************************  TEXT AUG START ****************************/

h1 {
  font-family: 'Abel';font-size: 30px;
  position: relative;
  text-align: center;
}

h2 {
  font-family: 'Abel';font-size: 26px;
  position: relative;
  text-align: center;
}


h3 {
  font-family: 'Abel';font-size: 22px;
  position: relative;
  text-align: center;
  font-size: 15px;
}

p {
  font-family: 'Abel';font-size: 22px;
  position: relative;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

/********************************  TEXT AUG END ****************************/

/********************************  TEST SECTION ****************************/

.gallerytitle{

  background-color: #111;
  padding: 50%;
  padding-top: 100px;
}

/********************************  TEST SECTION END ****************************/

/******************************** NAV MENU START ****************************/

/*Menu Location */
span {
  position: fixed;
  top: 0px;
  left: 0;
  display: block;
  background: #111;
  padding: 2%;
  color: white;
  font-family:'Abel';font-size: 15px;;

}

 /* The side navigation menu */
 .sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 


/********************************  NAV MENU END ****************************/


/******************************** GALLERY START ****************************/
#gallery {
  line-height:0;
  -webkit-column-count:5; /* split it into 5 columns */
  -webkit-column-gap:5px; /* give it a 5px gap between columns */
  -moz-column-count:5;
  -moz-column-gap:5px;
  column-count:5;
  column-gap:5px;
}

#gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom:5px; /* to match column gap */
}

@media (max-width: 1200px) {
  #gallery {
   -moz-column-count:    4;
   -webkit-column-count: 4;
   column-count:         4;
  }
}

@media (max-width: 1000px) {
  #gallery {
   -moz-column-count:    3;
   -webkit-column-count: 3;
   column-count:         3;
  }
}


@media (max-width: 800px) {
  #gallery {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
  }
}


@media (max-width: 400px) {
  #gallery {
   -moz-column-count:    1;
   -webkit-column-count: 1;
   column-count:         1;
  }
}


/********************************  GALLERY END ****************************/

/******************************** Contact Start ***************************/

#contact {
  font-family: 'Abel';font-size: 22px;
  position: relative;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

fcf-body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #070707;
  text-align:center;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #5DADE2;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}








